/* -----------common style start----------- */
*{
    margin: 0;
    padding: 0;
}
/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
/* -----------common style end----------- */
/* -----------header section start--------- */
.bg-header {
    background-color: #264653;
}
.bg-btn {
    background: #E76F51;
    border-radius: 5px;
}
.text-color {
    color: #E0E0E0;
}
/* -----------header section end ----------*/